<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=0.8">
    <title>Meteo</title>
    <link rel="icon" href="img/sole.png">
    <link href="css/stili.css" rel="stylesheet" type="text/css" media="screen" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Squada+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;300&display=swap" rel="stylesheet">
</head>
<body>

<div id="section-header">
    <header class="hh">
        <p style="text-align: center">
            <a href="index"><img src="img/meteo_logo.png" style="max-width: 300px;" alt=""></a>
        </p>
    </header>
    <nav>
        <ul>
            <li><a href="index">HOME</a></li>
            <li><a id="my_city_request">LA MIA CITTÁ</a></li>
            <li><a href="elenco" >ELENCO CITTÁ</a></li>
        </ul>
    </nav>
</div>
<main class="content">
    <form id="form" method="post" enctype="application/x-www-form-urlencoded">
        <input type="hidden" name="latitude" id="latitude">
        <input type="hidden" name="longitude" id="longitude">
    </form>
    <h2 class="list_title">Inserisci la latitudine e longitudine oppure scegli nell'elenco (A-Z)</h2>
    <div id="frm">
        <form method="post" enctype="application/x-www-form-urlencoded" action="/city">
            <br>Latitudine: <input type="number" name="latitude" class="inp" step = "0.0001" min="-90" max="90" required><br>
            <br>Longitudine: <input type="number" name="longitude" class="inp" step = "0.0001" min="-180" max="180" required><br>
            <div class="btn">
                <br><input type="submit" value="INVIA" class="invia"><br>
            </div>
        </form>
    </div>

    <div class="elenco">
        <% for(var i=0; i<cities.length; i++) {%>
        <form method="post" enctype="application/x-www-form-urlencoded" action="city">
            <input type="hidden" name="latitude" value="<%=cities[i].latitude%>">
            <input type="hidden" name="longitude" value="<%=cities[i].longitude%>">
            <input type="submit" value="<%=cities[i].city_name%>" class="btn_elenco">
        </form>
        <% }%>
    </div>
</main>

<footer>
    <p>Sito web per la visualizzazione del meteo tramite API <a style="color: rgba(255, 255, 255, 0.7)" href="https://openweathermap.org/">https://openweathermap.org/</a><br>
        Realizzato a scopo didattico da Angello Pomayay studente UNIMI - SSRI</p>
</footer>

<div id="sfondo">
    <video autoplay muted loop id="myVideo">
        <source src="img/video_darker.mp4" type="video/mp4">
    </video>
</div>

<script>
    document.getElementById("my_city_request").addEventListener("click", sendRequestMyCity);

    // send request for API

    async function sendRequestMyCity(event) {

        event.preventDefault();

        document.getElementById("form").setAttribute("action", "/city");

        navigator.geolocation.getCurrentPosition(position => {
            const { latitude, longitude } = position.coords;
            document.getElementById("latitude").value = latitude;
            document.getElementById("longitude").value = longitude;
            document.getElementById("form").submit();
        });

        return false;
    }
</script>
</body>
</html>